:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark();
}

@font-face {
    font-family: "inter_display-semibold";
    src: url("fonts/inter/display/InterDisplay-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: "ibm_plex_mono-light";
    src: url("fonts/ibm_plex_mono/IBMPlexMono-Light.ttf") format("opentype");
}

@font-face {
    font-family: "ibm_plex_mono-regular";
    src: url("fonts/ibm_plex_mono/IBMPlexMono-Regular.ttf") format("opentype");
}

.text-center {
    text-align: center;
}

.inter-display-semibold {
    font-family: "inter_display-semibold", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-mono-light {
    font-family: "ibm_plex_mono-light", monospace;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-mono-regular {
    font-family: "ibm_plex_mono-regular", monospace;
    font-weight: 400;
    font-style: normal;
}