:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark();
}

@font-face {
    font-family: "inter_display-semibold";
    src: url("fonts/inter/display/InterDisplay-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: "inter-regular";
    src: url("fonts/inter/normal/Inter-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "inter-medium";
    src: url("fonts/inter/normal/Inter-Medium.ttf") format("opentype");
}

@font-face {
    font-family: "ibm_plex_mono-light";
    src: url("fonts/ibm_plex_mono/IBMPlexMono-Light.ttf") format("opentype");
}

@font-face {
    font-family: "ibm_plex_mono-regular";
    src: url("fonts/ibm_plex_mono/IBMPlexMono-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "ldf_comic_sans-regular";
    src: url("fonts/ldf_comic_sans/LDFComicSans-Regular.ttf") format("opentype");
}

.text-center {
    text-align: center;
}

.inter-display-semibold {
    font-family: "inter_display-semibold", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.inter-regular {
    font-family: "inter-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "inter-medium", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-mono-light {
    font-family: "ibm_plex_mono-light", monospace;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-mono-regular {
    font-family: "ibm_plex_mono-regular", monospace;
    font-weight: 400;
    font-style: normal;
}

.ldf-comic-sans-regular {
    font-family: "ldf_comic_sans-regular", monospace;
    font-weight: 400;
    font-style: normal;
}

.border {
    border: solid 10px white;
}

.app-border-radius {
    border-radius: 22.5%;
}

.rainbow-animation:hover {
    animation: rainbow 6s linear 0s infinite;
}

.rainbow-animation-border:hover {
    border: solid 10px;
    animation: rainbow 6s linear 0s infinite;
}

.blandify {
    color: inherit;
}

.enlarge {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.enlarge:hover {
    transform: scale(1.2);
}

.underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.3s ease;
}

.underline:hover::after {
    width: 100%; /* Underline expands to full width on hover */
}

@keyframes rainbow {
    from {
        color: rgb(255, 0, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    67% {
        color: rgb(0, 0, 255);
    }
    to {
        color: rgb(255, 0, 0);
    }
}

#header {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

#main-content {
    margin-left: 25%;
    margin-right: 25%;
}